/* Nav */
.navbar {
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.16);
    text-shadow: 0 px 0 px 3 px rgb(0, 0, 0);
    background: linear-gradient(87 deg, rgb(92, 214, 230), rgb(151, 65, 236));
}

.navbar-brand {
    font-family: 'Alegreya Sans SC', sans-serif;
}

#connection-button {
    text-shadow: 0 px 0 px 3 px rgb(0, 0, 0);
}